# https://clang.llvm.org/extra/clang-tidy/checks/list.html

# gtest's TEST & TEST_F trigger
# - cppcoreguidelines-owning-memory (TEST_F only)
# - cppcoreguidelines-special-member-functions
# - modernize-use-equals-delete

# gtest's ASSERT_THROW & ASSERT_NO_THROW trigger
# cppcoreguidelines-avoid-goto

# gtest's ASSERT_EQ triggers
# cppcoreguidelines-pro-type-vararg

Checks: >-
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  misc-*,
  modernize-*,
  -modernize-use-equals-delete,
  performance-*,
  readability-*,

WarningsAsErrors: >-
  *,
  -bugprone-exception-escape,
  -clang-diagnostic-return-type,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-member-init,
  -modernize-use-noexcept,
  -performance-move-const-arg,
  -performance-noexcept-move-constructor,
